.header
  position fixed
  display block
  bottom 25px
  left 25px
  // width 240px
  color #aab4b5
  font-size 14px
  font-weight 500
  text-align left
  z-index 10
  padding 15px 15px 5px 15px
  display none
  &.is-visible
    display block

.header-profile
  display none

.header-links
  display block
  clearfix()
  margin-bottom 15px

.header__link
  font-size 1px
  margin-bottom 15px
  display block
  color #818788
  font-size 16px
  font-weight 600
  font-family $secondaryTypeface
  cursor pointer
  &:hover
    color $white

// header auth
.header-auth
  clearfix()
  padding-left 100px
  .header__link
    margin-bottom 10px
    display inline-block
    float left
  i
    margin-left 10px

.header-profile-avatar
  width 30px
  height 30px
  border-radius 50%
  float right
  display block
  position fixed
  bottom 34px
  left 141px

//==============================================================================
//  open btn
//==============================================================================
.header-openBtn
  position fixed
  bottom 30px
  left 40px
  z-index 11
  cursor pointer
  display block
  width 87px
  opacity 0
  animation fadeIn .4s .6s
  animation-fill-mode forwards
  text-align center
  i
    font-size 20px
  .fa-close
    color #252b2f

.header-closeOverlay
  position fixed
  top 0px
  bottom 0px
  left 0px
  right 0px
  z-index 3

.header-closeOverlay-bg
  background rgba(#2e3237, 0.9)
  display block
  position fixed
  top 0px
  bottom 0px
  left 0px
  right 60%

[data-page="/"]
  .header-closeOverlay-bg
    display none

//==============================================================================
//  Animation
//==============================================================================
.header
  .header-links
    .header__link:nth-of-type(4)
      animation fadeIn .2s 0s
      animation-fill-mode forwards
    .header__link:nth-of-type(3)
      animation fadeIn .2s .1s
      animation-fill-mode forwards
    .header__link:nth-of-type(2)
      animation fadeIn .2s .2s
      animation-fill-mode forwards
    .header__link:nth-of-type(1)
      animation fadeIn .2s .3s
      animation-fill-mode forwards
    .header__link
      animation-fill-mode forwards
      opacity 0
  .header-auth
    .header__link
      animation fadeIn .2s 0s
      animation-fill-mode forwards
      opacity 0

.header-closeOverlay-bg
  animation fadeIn .2s 0s
  animation-fill-mode forwards
  opacity 0
