.home__intro
  // background #212121
  padding 160px 0px 0px 0px

.home__intro__title
  margin-bottom -190px
  margin-top 20px
  position fixed
  display block
  width 100%
  top 40px
  color #17191c
  z-index 1
  // opacity 0
  animation fadeIn .4s .3s
  // animation-fill-mode forwards
  user-select(none)

// .home__intro__sub-title
//   margin 120px 0 0 0
//   font-family "adobe-caslon-pro"
//   font-size 70px
//   clearfix()
//   color $grey
//   font-weight 400
//   position relative
//   z-index 2
//   text-align center
//   opacity 0
//   animation fadeIn .3s .7s
//   animation-fill-mode forwards
//   strong
//     color $white
//     font-weight 400

.home__intro__desc
  margin 70px 0 0 0
  font-family "adobe-caslon-pro"
  font-size 47px
  line-height 52px
  clearfix()
  font-weight 400
  position relative
  z-index 2
  text-align center
  opacity 0
  animation fadeIn .3s .7s
  animation-fill-mode forwards
  color #969494
  strong
    color $white
    font-weight 400

.home__intro__login
  z-index 2
  opacity 0
  animation fadeIn .3s 1s
  animation-fill-mode forwards
  position relative

.home__area
  clearfix()
  display block
  position relative
  z-index 2
  margin-top 200px
  margin-bottom 120px

.home__subject
  display block
  clearfix()
  margin-bottom 80px

.home__topics
.home__subject__title
  width 50%
  display block
  height 100%
  opacity 0

.home__subject__title
  float left
  text-align right
  padding-right 10px
  animation fadeIn .4s 1.3s
  animation-fill-mode forwards
  h2
    color #999999
    font-size 54px
    line-height 47px
    text-transform uppercase
    font-size 24px
    font-weight 300
    font-family $primaryTypeface

.home__topics
  float left
  text-align left
  padding-left 10px
  animation fadeIn .4s 1.3s
  animation-fill-mode forwards
  h2
    color #f5f5f5
    font-style italic
    margin-bottom 14px
    font-weight 400
    cursor pointer
    line-height 39px
    border-bottom 2px solid transparent
    display inline-block
    white-space nowrap
    margin-bottom 37px
  a
    display block
    &:hover
      h2
        border-color $white

// .home__subject
//   width 140px
//   float left
//   color #999999
//   display block

// .home__topics
//   float right
//   width 500px
//   display block
//   a
//     color $white

.home__area
  .home__subject__title
    transition width .4s .4s
    h2
      transition opacity .3s

.home__area.topic-load
  padding-bottom 500px
  .home__subject__title
    width 30px
    h2
      opacity 0
  .home__topics
    h2
      opacity 0


.home__intro.topic-load
  .home__intro__title
  .home__intro__sub-title
    opacity 0
