.resources
  background #ebedea
  clearfix()
  opacity 0
  animation fadeIn .3s
  animation-fill-mode forwards
  padding-top 50px
  min-height 700px
  // .resourcePreview
  //   opacity 0
  //   animation fadeIn 1s .3s
  //   animation-fill-mode forwards


.resources-title
  margin-bottom 25px
  // opacity 0
  // animation fadeIn 1s 2s
  // animation-fill-mode forwards
