.resources
  padding-top 50px
  background #F7F7F7
  clearfix()
  .resourcePreview
    opacity 0
    animation fadeIn 1s 2s
    animation-fill-mode forwards


.resources-title
  margin-bottom 25px
  opacity 0
  animation fadeIn 1s 2s
  animation-fill-mode forwards
