// .resource
//   background $black
//   padding 100px 0px 400px 0px
//   .resource_content
//     max-width 800px
//     margin 0 auto
//   .modal_title
//     margin 0 0 30px 0
//     font-size 30px
//     clearfix()
//     color #ffffff
//     font-weight 400
//     color $grey
//     text-align center
//     strong
//       color #ffffff
//       font-weight 400
//       font-size 50px
//       display block
//       width 100%
//   label
//     padding 10px
//     color #ffffff
//   strong
//     width 20%
//     margin 0
//     display inline-block
//     font-size 22px
//     color #999
//   input
//     width 70%
//     display inline-block
//     color #ffffff
//     background transparent
//     border 0px
//     outline 0
//     margin 0
//     transition all .3s
//     background #201E1E
//     padding 7px 15px 0px 15px
//     border-radius 2px
//   &:focus
//     outline 0
//     background #343333
//   .btns--centered
//     margin-top 60px

//   .modal_close
//     position absolute
//     top -100px
//     right 10px



// .resource-type
//   margin-bottom 50px
//   label
//     width 17%
//     margin 0 5%
//     display inline-block
//     cursor pointer
//     user-select(none)
//   strong
//   i
//     display block
//     width 100%
//     text-align center
//   i
//     margin-bottom 10px
//   strong
//     padding 31px 0px 20px 0px
//     border-radius 3px
//     transition all .3s
//     &:hover
//       background #282828
//   input
//     display none
//   input:checked ~ strong
//     background #343333
//     color #ffffff
//     background #ffffff
//     color #212121

// .resource__back-to-topic
//   position absolute
//   top 10px
//   left 10px
//   color #444444
//   &:hover
//     color #ffffff

// .post-recommend
//   margin-top 30px
//   display inline-block
//   float right
//   span
//     color $duckEggGrey
//     font-size 14px
//     margin-left 5px
//     vertical-align 2px
//     font-weight 600
//     font-style italic
//     font-family $secondaryTypeface

// .post-recommend__likes
//   margin-right 15px
//   display inline-block

// .post-recommend__comments
//   margin-right 15px
//   display inline-block

// .topic__search
//   i
//     color #444444
//     font-size 14px
//     margin-right 5px
//   input
//     color #444444
//     font-size 14px
//     font-family $secondaryTypeface
//     background $black
//     border none
//     width 400px
//     font-weight 800
//     &:focus
//       outline none

// .topic__search input::-webkit-input-placeholder
//   color #444444
// .topic__search input:-moz-placeholder
//   color #444444
// .topic__search input::-moz-placeholder
//   color #444444
// .topic__search input:-ms-input-placeholder
//   color #444444

// .post__desc__copy
//   color $duckEggGrey
//   font-size 14px
//   font-family $secondaryTypeface
//   line-height 22px


// .post__desc__recommendations
//   float left
//   margin-top 30px
//   h5
//     color $duckEggGrey
//     font-size 14px
//     font-family $secondaryTypeface
//     font-weight 600
//     margin-bottom 10px

// .post__desc__recommendations__images
//   img
//     max-width 100%
//     height auto
//   li
//     margin-left -10px
//     float left
//     border-radius 50%
//     overflow hidden
//     border 2px solid #f5f5f5
//     width 35px
//     height 35px
//     display block
//   li:nth-of-type(1)
//     margin-left 0px
