.topicView
  height 480px
  .content
    padding 220px 0px 0px 0px
    width 700px
    margin 0 auto
    position relative

.topicView-intro
  text-align center
  color #ffffff
  font-size 77px
  font-style italic
  margin 10px 0px 25px 0px
  line-height 45px
  opacity 0
  animation fadeIn 1s
  animation-fill-mode forwards
