.currentSelection
  display block
  padding 22px 0px
  // background #53606c url('/images/topic-select.png')
  // background-position center center
  background #ffffff

.currentSelection-title
  font-size 13px
  text-transform uppercase
  font-weight 600
  margin-right 25px
  font-family $secondaryTypeface
  color #2d3237

.currentSelection-label
  background #2d3237
  color #ffffff
  font-weight 600
  margin-top 4px

.currentSelection-update
  float right
  border-color #475460
  background #475460
  color #2d3237
  border-radius 5px
  margin 0px
  transition all .3s
  &:hover
    border-color #2d3237
    background #2d3237
    color #475460

.currentSelection-topic
  float left
  color #373737
  margin-right 15px
