.currentSelection
  display block
  padding 22px 0px
  background #ffffff

.currentSelection-title
  font-size 13px
  text-transform uppercase
  font-weight 600
  margin-right 25px
  font-family $secondaryTypeface
  color #2d3237

.currentSelection-label
  background #2d3237
  color #ffffff
  font-weight 600
  margin-top 4px

.currentSelection-update
  float right
  border-color #2a2a2a
  background #2a2a2a
  color #ffffff
  border-radius 5px
  margin 0px
  transition all .3s
  &:hover
    border-color #2a2a2a
    background #2a2a2a
    color #ffffff

.currentSelection-topic
  float left
  color #373737
  margin-right 15px
