.header-wrapper
  background #2d3237
  color #ffffff
  display block

.header
  max-width 940px
  width 90%
  margin 0px auto
  padding 18px 0px

.header-logo
  font-size 24px
  font-family $titleTypeface
  font-weight 400
  color #ffffff
