.header-wrapper
  background #2a2a2a
  color #ffffff
  display block

.header
  max-width 940px
  width 90%
  margin 0px auto
  padding 18px 0px

.header-logo
  font-size 24px
  font-weight 400
  color #EBEDEA
  text-align left
  display block
  font-family $titleTypeface
