// .modal
//   position fixed
//   top 50px
//   width 90%
//   margin-left 20px
//   background #F7F7F7

// @media screen and (min-width: 650px)
//   .modal
//     width 630px
//     left 50%
//     margin-left -315px

.modal-backdrop
  background rgba(#17191c, 0.9)
  position fixed
  top 0px
  bottom 0px
  left 0px
  right 0px
