.resource-video-wrapper
  background #1b1f23
  clearfix()

.resource-video
  max-width 640px
  margin 0 auto
  position relative

.resource-embed
  position relative
  padding-bottom 56.25%
  height 0
  overflow hidden
  max-width 100%
  height auto

  iframe
  object
  embed
    position absolute
    top 0
    left 0
    width 100%
    height 100%

.resource-vote
  padding 10px 0px
  text-align right
  span
    font-size 13px
    color #f7f7f7
    font-family $secondaryTypeface
    font-style italic
    display inline
    margin-bottom 10px
    margin-right 10px
  .btn
    background #557cd2
    color #f7f7f7
    font-size 14px
    font-weight 600
    border none
    font-style normal
    border-radius 5px
    font-family $secondaryTypeface

@media screen and (max-width: 650px)
  .resource-vote
    margin-right 10px

@media screen and (min-width: 960px)
  .resource-vote
    text-align left
    position absolute
    bottom 10px
    right 0px
    transform translate3d(100%, 0, 0)
    padding 0px 0px 0px 10px
    span
      display block
      margin-right 0px


.resource-title
  text-align left
  font-size 39px
  margin 25px 0px 10px 0px

.resource-desc
  margin 15px 0px 15px 0px
