.resourceUploaded
  clearfix()
  display block

.resourceUploaded-img
  float left
  margin-right 10px
  border-radius 50%
  overflow hidden
  height 43px
  width 43px

.resourceUploaded-user-title
  margin-top 8px
  color #8fa1b3
  font-family $secondaryTypeface
  font-size 12px
  font-weight 800
  text-transform uppercase

.resourceUploaded-user-username
  color #1b1a16
  font-family $secondaryTypeface
  font-size 16px
  font-weight 800
  margin-top 2px
  display inline-block

.resourceUploaded-votes
  color #1b1a16
  font-family $secondaryTypeface
  font-size 13px
  font-weight 800
  position absolute
  bottom 14px
  right 27px
