.topicSelect
  // background-color #53606c
  // background-attachment fixed
  // background-position bottom
  height 680px
  .content
    padding 220px 0px 0px 0px
    width 600px
    margin 0 auto
    position relative

.topicSelect-topics
  padding 20px 0px
  text-align center
  opacity 0
  animation fadeIn 1s 1.5s
  animation-fill-mode forwards
  .btn
    margin 10px 10px
    // &:hover
    //   color #062158

.topicSelect-title
  font-size 240px
  font-family "lust", "adobe-caslon-pro", serif
  font-weight 400
  font-style normal
  text-align center
  display block
  color #ffffff
  position fixed
  width 100%
  top 170px
  color #24282C
  color #1F2427
  opacity 0
  animation fadeIn 1.5s .2s
  animation-fill-mode forwards

.topicSelect-intro
  text-align center
  color #ffffff
  font-size 26px
  font-style italic
  margin 10px 0px
  font-size 37px
  line-height 45px
  opacity 0
  animation fadeIn 1s 1s
  animation-fill-mode forwards

.topicSelect-viewAll
  text-decoration dotted
  &:hover
    text-decoration underline

.topicSelect-backToTopics
  font-size 16px
  font-family $secondaryTypeface
  text-align center
  display block
  cursor pointer
  margin-top 10px
  color #8A8A8A
  transition all .4s
  &:hover
    color #ffffff
