.topicSelect
  background #53606c url('/images/topic-select.png')
  background-attachment fixed
  min-height 500px
  color #ffffff
  .content
    padding 50px 0px

.topicSelect-topics
  padding 20px 0px
  text-align center
  .btn
    margin 10px 10px


// .topicSelect
//   // background-color #53606c
//   // background-attachment fixed
//   // background-position bottom
//   height 680px
//   .content
//     padding 220px 0px 0px 0px
//     width 700px
//     margin 0 auto
//     position relative

.topicSelect-topics
  padding 20px 0px
  text-align center
  opacity 0
  animation fadeIn 1s .5s
  animation-fill-mode forwards
//   .btn
//     margin 10px 10px
//     // &:hover
//     //   color #062158

.topicSelect-intro
  text-align center
  color #ffffff
  font-size 26px
  font-style italic
  margin 10px 0px
  font-size 37px
  line-height 45px
  opacity 0
  animation fadeIn .5s 0s
  animation-fill-mode forwards

// .topicSelect-viewAll
//   text-decoration dotted
//   &:hover
//     text-decoration underline

.topicSelect-backToTopics
  font-size 16px
  font-family $secondaryTypeface
  text-align center
  display block
  cursor pointer
  margin-top 10px
  // color #8A8A8A
  transition all .4s
  z-index $zindex3
  position relative
  // &:hover
  color #ffffff
