.topicSelect
  background #2a2a2a url('/images/topic-select.png')
  // background-attachment fixed
  background-position bottom center
  background-repeat no-repeat
  min-height 530px
  padding-top 10px
  color #ffffff
  .content
    padding 50px 0px

.topicSelect-topics
  padding 20px 0px
  text-align center
  margin 0 auto
  width 750px
  .btn
    margin 10px 10px

// .topicSelect
//   // background-color #53606c
//   // background-attachment fixed
//   // background-position bottom
//   height 680px
//   .content
//     padding 220px 0px 0px 0px
//     width 700px
//     margin 0 auto
//     position relative

// .topicSelect-title
//   font-size 70px
//   font-family "lust", "adobe-caslon-pro", serif
//   font-weight 400
//   font-style normal
//   text-align center
//   display block
//   color #17191C
//   opacity 0
//   animation fadeIn .2s
//   animation-fill-mode forwards
//   color: #121212
//   font-size: 160px;
//   position fixed
//   top 70px
//   width 100%
//   line-height: 160px;

.topicSelect-topics
  padding 20px 0px
  text-align center
  opacity 0
  animation fadeIn 1s .5s
  animation-fill-mode forwards
  .btn
    color #8A8A8A
    border 2px solid #575757
    &:hover
      color #1f2327
      background #C5C5C5
      border 2px solid #C5C5C5

.topicSelect-intro
  text-align center
  color #ffffff
  font-size 26px
  font-family $titleTypeface
  font-style normal
  margin 10px 0px
  font-size 37px
  line-height 45px
  opacity 0
  animation fadeIn .5s 0s
  animation-fill-mode forwards
  padding-top 30px

// .topicSelect-viewAll
//   text-decoration dotted
//   &:hover
//     text-decoration underline

.topicSelect-backToTopics
  font-size 16px
  font-family $secondaryTypeface
  text-align center
  display block
  cursor pointer
  margin-top 10px
  // color #8A8A8A
  transition all .4s
  z-index $zindex3
  position relative
  // &:hover
  color #8A8A8A
