.label-container
  display block
  // margin-top 10px

.label
  border-radius 3px
  font-size 12px
  font-family $secondaryTypeface
  padding 5px 9px 3px 8px
  margin-right 7px
  display inline-block

// Label for filters
.label-desc
  color #3c3c3c
  font-family $secondaryTypeface
  font-weight 800
  font-size 14px
  margin-right 10px

.label--filter
  background #3c3c3c
  color #212121
  transition all .3s
  cursor pointer
  &:hover
    background $darkGrey
    color #212121

// Labels for resource types
.label--documentary
  color #ffffff
  background $documentary

.label--audiobook
  color #ffffff
  background $audiobook

.label--book
  color #ffffff
  background $book

.label--ebook
  color #ffffff
  background $ebook

.label--audiobook
  color #ffffff
  background $audiobook

.label--video
  color #ffffff
  background $video

.label--talk
  color #ffffff
  background $talk

.label--lecture
  color #ffffff
  background $lecture
