*
  box-sizing(border-box)


html
body
  background #f7f7f7 url(/images/bg.jpg)
  background-attachment fixed
  background-position bottom

.content
  max-width 940px
  width 90%
  margin 0px auto

img
  max-width 100%
  height auto

.site-title
  font-size 240px
  font-family "lust", "adobe-caslon-pro", serif
  font-weight 400
  font-style normal
  text-align center
  display block
  color #ffffff
  position fixed
  width 100%
  top 170px
  color #24282C
  color #1F2427
  opacity 0
  animation fadeIn 1.5s .2s
  animation-fill-mode forwards
