*
  box-sizing(border-box)


html
body
  background #f7f7f7 url(/images/bg.jpg)
  background-attachment fixed
  background-position bottom

.content
  max-width 940px
  width 90%
  margin 0px auto

img
  max-width 100%
  height auto
