body
  font-size 18px
  font-family $titleTypeface
  -moz-font-feature-settings "liga=1, dlig=1"
  -ms-font-feature-settings "liga", "dlig"
  -o-font-feature-settings "liga", "dlig"
  -webkit-font-feature-settings "liga", "dlig"
  font-feature-settings "liga", "dlig"

p
  font-size 16px
  line-height 25px
  color #54585e
  font-family $secondaryTypeface

a
  text-decoration none

h1
  font-size 28px
  color #2d3237
  text-align center
  line-height 35px

h2
  font-size 28px
  color #2d3237
  text-align center
  line-height 35px

h3
  font-family $titleTypeface
  font-size 22px
  margin 5px 0px 20px 0px
  color #C5C5C5
