body
  font-size 18px
  font-family $primaryTypeface
  -moz-font-feature-settings "liga=1, dlig=1"
  -ms-font-feature-settings "liga", "dlig"
  -o-font-feature-settings "liga", "dlig"
  -webkit-font-feature-settings "liga", "dlig"
  font-feature-settings "liga", "dlig"

p
  font-size 16px
  line-height 27px

h1
  font-size 28px
  color #2d3237
  font-style italic
  text-align center
  line-height 35px
//   font-size 240px
//   font-family $titleTypeface
//   font-weight 400
//   text-align center
//   color #000000

// h2
//   margin 0px
//   font-family $primaryTypeface
//   font-size 55px
//   line-height 55px
//   clearfix()
//   font-weight 400
//   font-style italic

// h3
//   // font-size 45px
//   font-size 32px
//   margin 0
//   font-weight 500
//   font-style italic
//   line-height 41px

// small
//   font-size 12px
//   font-weight 400
//   font-family $secondaryTypeface
//   color #788088
//   strong
//     font-weight 800

// pre
//   font-family monospace
//   font-size 14px
//   padding 15px
//   background #d0d8e1
//   color #2f3439
