// Typefaces
$titleTypeface = "lust", "adobe-caslon-pro", serif
$primaryTypeface = "adobe-caslon-pro", serif
$secondaryTypeface = "proxima-nova"

// Colours
$gold = #AA8808
$black = #4b4b50
$black = #212121
$white = #f5f5f5
$grey = #444444
$darkGrey = #475259
$duckEggGrey = #aab4b5
$teal = #2aa7b8
$lavender = #8285ab
$purple = #916f94
$chintzFabric = #EFB16A
$purple = #5674d5
$emerald = #09CD93

// States
$error = #d31c28
$success = #547FA2

// Resource type
$documentary = $teal
$audiobook = #585da0
$book = $lavender
$ebook = $purple
$video = $chintzFabric
$talk = $emerald
$lecture = $emerald