// Z-Index Scale
$zindex1 = 100
$zindex2 = 200
$zindex3 = 300
$zindex4 = 400
$zindex5 = 500
$zindex6 = 600
$zindex7 = 700
$zindex8 = 800
$zindex9 = 900
$zindex10 = 1000

.topicSelect
.site-title
  z-index $zindex1

.topicSelect
.topicView
  .content
    z-index $zindex2

.resources
  z-index $zindex3
  position relative
