.currentSelection
  .content
    span.currentSelection-title Areas
    a.currentSelection-label.label Space Exploration
    a.currentSelection-label.label Space Travel

    a.currentSelection-update.btn.btn-sm Update Areas
