.currentSelection
  .content
    //- span.currentSelection-title Areas
    h2(ng-bind="topic.title").currentSelection-topic
    a(ng-repeat="tag in topic.tags track by $index", ng-bind="tag").currentSelection-label.label

    a.currentSelection-update.btn.btn-sm Update Areas
