footer.footer
  div.content
    span.footer__pages
      span.footer__col__title Pages
      a(href="/") Home

    span.footer__social
      span.footer__col__title Social
      a(href="https://twitter.com/loreofhq") Twitter
      a(href="http://blog.loreof.co/") Tumblr

    span.footer__mixpanel
      span.footer__col__title Mixpanel
      a(href="https://mixpanel.com/f/partner")
        img(src="//cdn.mxpnl.com/site_media/images/partner/badge_blue.png", alt="Mobile Analytics")

footer.footer--bottom
  div.content
    span.footer__copyright Lore Of &copy;2014
