a(href="#").resourcePreview
  .resourcePreview-img
    img(ng-src="{{thumbs.hqdefault}}")
    span.resourcePreview-label.label.label--documentary Documentary
  .resourcePreview-desc
    h3(ng-bind="resource.title").resourcePreview-title
    .resourcePreview-uploaded
      .resourcePreview-uploaded-img
        img(src="http://loreof.co/img/users/maximmcnair.jpg")
      .resourcePreview-uploaded-user
        .resourcePreview-uploaded-user-title Uploaded by
        span(ng-bind="resource.uploaded.name").resourcePreview-uploaded-user-username
    .resourcePreview-votes {{resource.recommendations.amount}} votes