section(ng-style="getImage()").topicSelect
  //- h1.topicSelect-title Lore Of
  .content

    h2.topicSelect-intro
      | Learn about a topic from people's suggested 
      br
      | documentaries, short videos & talks.

    .topicSelect-topics
      div(ng-show="topicsVisible")
        h3 Start by picking a Topic
        a(ng-repeat="topic in topics", ng-bind="topic.title", ng-click="showTags(topic)").btn

      div(ng-show="tagsVisible")
        h3 Now how do you want to filter {{topic.title}}
        a(ng-repeat="tag in tags", ng-bind="tag.title", ng-href="/topic/{{topic.slug}}?tags={{tag.slug}}").btn
        //- a(ng-repeat="tag in tags", ng-bind="tag.title", ng-href="/topic/{{topic}}").btn
        a(ng-click="showTopics()").topicSelect-backToTopics Back to Topics
