section.topicSelect
  .content
    h1
      | Learn about a topic from people's suggested 
      br
      | documentaries, short videos & talks.

    .topicSelect-topics
      a.btn Technology
      a.btn Astronomy
      a.btn Philosophy
      a.btn Sports
      a.btn Science
      br
      a.btn Art & Design
      a.btn Space
      a.btn Nature
      a.btn Climate Change
      br
      a.btn Politics
      a.btn Religion
      a.btn Drugs
      a.btn History
