include ../components/topic-select
include ../components/current-selection

.content
  .resources
    h2.resources-title Not sure of a topic? Here’s some stuff to get you started.

    a(href="#").resourcePreview
      .resourcePreview-img
        img(src="/images/placeholder/resource1.png")
        span.resourcePreview-label.label.label--documentary Documentary
      .resourcePreview-desc
        h3.resourcePreview-title Wonders of the Solar System
        .resourcePreview-uploaded
          .resourcePreview-uploaded-img
            img(src="http://loreof.co/img/users/maximmcnair.jpg")
          .resourcePreview-uploaded-user
            .resourcePreview-uploaded-user-title Uploaded by
            .resourcePreview-uploaded-user-username Maxim McNair
        .resourcePreview-votes 56 votes

    a(href="#").resourcePreview
      .resourcePreview-img
        img(src="/images/placeholder/resource1.png")
        span.resourcePreview-label.label.label--documentary Documentary
      .resourcePreview-desc
        h3.resourcePreview-title Wonders of the Solar System
        .resourcePreview-uploaded
          .resourcePreview-uploaded-img
            img(src="http://loreof.co/img/users/maximmcnair.jpg")
          .resourcePreview-uploaded-user
            .resourcePreview-uploaded-user-title Uploaded by
            .resourcePreview-uploaded-user-username Maxim McNair
        .resourcePreview-votes 56 votes

    a(href="#").resourcePreview
      .resourcePreview-img
        img(src="/images/placeholder/resource1.png")
        span.resourcePreview-label.label.label--documentary Documentary
      .resourcePreview-desc
        h3.resourcePreview-title Wonders of the Solar System
        .resourcePreview-uploaded
          .resourcePreview-uploaded-img
            img(src="http://loreof.co/img/users/maximmcnair.jpg")
          .resourcePreview-uploaded-user
            .resourcePreview-uploaded-user-title Uploaded by
            .resourcePreview-uploaded-user-username Maxim McNair
        .resourcePreview-votes 56 votes

    a(href="#").resourcePreview
      .resourcePreview-img
        img(src="/images/placeholder/resource1.png")
        span.resourcePreview-label.label.label--documentary Documentary
      .resourcePreview-desc
        h3.resourcePreview-title Wonders of the Solar System
        .resourcePreview-uploaded
          .resourcePreview-uploaded-img
            img(src="http://loreof.co/img/users/maximmcnair.jpg")
          .resourcePreview-uploaded-user
            .resourcePreview-uploaded-user-title Uploaded by
            .resourcePreview-uploaded-user-username Maxim McNair
        .resourcePreview-votes 56 votes
