include ../components/topic-select
//- include ../components/current-selection

.content
  .resources
    h2.resources-title Not sure of a topic? Here’s some stuff to get you started.

    //- resource(ng-repeat="resource in getStaffRecommdations")
    //- resource
