include ../components/topic-select
//- include ../components/current-selection

.resources
  .content
    h2.resources-title Not sure of a topic? Here’s some stuff to get you started.

//-     a(resource, ng-repeat="resource in resources", ng-href="/resource/{{resource._id}}").resourcePreview
