div(ng-class="{'resourceModal': isModal, 'resources': !isModal}")
  div(ng-class="{'content': !isModal}").resource
    .resource-media
      .resource-embed
        iframe(width="560", height="315", ng-src="{{video}}", frameborder="0", allowfullscreen)

    .resource-desc
      h2(ng-bind="resource.title").resource-title
      span(ng-show="resource.type === 'book'").resource-label.label.label--book Book
      span(ng-show="resource.type === 'audiobook'").resource-label.label.label--audiobook Audiobook
      span(ng-show="resource.type === 'documentary'").resource-label.label.label--documentary Documentary
      span(ng-show="resource.type === 'talk'").resource-label.label.label--talk Talk
      span(ng-show="resource.type === 'video'").resource-label.label.label--video Short Video
      span(ng-show="resource.type === 'lecture'").resource-label.label.label--lecture Lecture

      a(ng-href="{{resource.href}}", target="_blank").resource-external.btn.btn--lrg Watch Full Documentary

      //- span(on-toggle="toggled(open)", ng-if="resource.purchase").dropdown
      //-   a.btn.dropdown-toggle
      //-     | View on…
      //-     i.fa.fa-chevron-down
      //-   ul.dropdown-menu
      //-     li(ng-if="resource.purchase.amazon")
      //-       a(href="{{resource.purchase.amazon}}", target="_blank")
      //-         //- i.fa.fa-amazon
      //-         | Amazon
      //-     li(ng-if="resource.purchase.itunes")
      //-       a(href="{{resource.purchase.itunes}}", target="_blank")
      //-         //- i.fa.fa-apple
      //-         | iTunes
      //-     li(ng-if="resource.purchase.youtube")
      //-       a(href="{{resource.purchase.youtube}}", target="_blank")
      //-         //- i.fa.fa-youtube
      //-         | YouTube
      //-     li(ng-if="resource.purchase.vimeo")
      //-       a(href="{{resource.purchase.vimeo}}", target="_blank")
      //-         //- i.fa.fa-fa-vimeo-square
      //-         | Vimeo

      .resourceUploaded
        .resourceUploaded-img
          img(ng-src="http://api.loreof.co/{{resource.uploaded.avatar}}")
        .resourceUploaded-user
          .resourceUploaded-user-title Uploaded by
          span(ng-bind="resource.uploaded.name").resourceUploaded-user-username
        .resourceUploaded-votes {{resource.recommendations.amount}} votes
