section(ng-class="{'topic--selected': topicSelected, 'topic--unselected': !topicSelected}")
  .content
    a(href="/topic/science") Topic
    br
    a(href="/") Home

//- section(ng-style="getImage()").topicSelect
//-   .content
//-     h2.topicSelect-intro
//-       | Learn about a topic from people's suggested 
//-       br
//-       | documentaries, short videos & talks.

//-     .topicSelect-topics
//-       div(ng-show="topicsVisible")
//-         a(ng-repeat="topic in topics", ng-bind="topic.title", ng-click="showTags(topic)").btn
//-         //- a(ng-repeat="topic in topics", ng-bind="topic.title", href="/topic/{{topic.slug}}").btn
//-         //- h3.topicSelect-subtitle Pick a topic
//-           //- a(ng-repeat="topic in topics", ng-bind="topic.title", ng-href="/topic/{{topic.slug}}").btn
//-           //- a.btn Technology
//-           //- a.btn Philosophy
//-           //- a.btn Science
//-           //- a.btn Architecture
//-           //- br
//-           //- a.btn Art
//-           //- a.btn Design
//-           //- a.btn Astronomy
//-           //- a.btn Space
//-           //- a.btn Nature
//-           //- a.btn Climate Change
//-           //- br
//-           //- a.btn Politics
//-           //- a.btn Religion
//-           //- a.btn Drugs
//-           //- a.btn History
//-           //- a.btn Sports

//-       div(ng-show="tagsVisible")
//-         a(ng-repeat="tag in tags", ng-bind="tag.title", ng-href="/topic/{{topic}}?tags={{tag.slug}}").btn
//-         //- a(ng-repeat="tag in tags", ng-bind="tag.title", ng-href="/topic/{{topic}}").btn
//-         a(ng-click="showTopics()").topicSelect-backToTopics Back to Topics