include ../components/current-selection
//- section(ng-style="getImage()").topicView
//-   .content
//-     h2(ng-bind="topic.title").topicView-intro
//-     a(href="/").topicSelect-backToTopics Back to Topics

.resources
  .content
    //- h2.resources-title Not sure of a topic? Here’s some stuff to get you started.

    a(resource, ng-repeat="resource in resources", ng-href="/resource/{{resource._id}}").resourcePreview
